.box {
    padding: 20px;
    max-width: 600px;

    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
  }

  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .info {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .information {
    margin: 10px 0;
  }
  
  .infobox {
    text-align: left; /* Align text to the left for better readability */
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
  }
  
  .menu {
    margin-top: 30px;
  }
  
  .card {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
  }
  
  .icon {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    margin-right: 10px;
  }
  
  .logoutButton {
    padding: 10px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .logoutButton:hover {
    background-color: #c9302c;
  }
  