.featuredServices {
  background-color: #D2E3F2;
  padding: 50px 20px;
  text-align: center;
  margin-top: 30px;
}

.featuredServices h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.servicesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.service {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1rem;
  color: #555;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
