a {
    text-decoration: none;
    color: white;
}

footer {
    position: fixed;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: #000000;
    color: white;
    height: 80px;
    padding: 5px 0px;
    bottom: 0;
    width: 100%;
    grid-gap: 20px;
}

.footer_logo {
    border-right: 2px solid white;
    padding: 18px;
    padding-left: 140px;
}

.footer_logo img {
    width: 160px;
    cursor: pointer;
}

.footer_address {
    border-right: 2px solid white;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 40% 40%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    grid-gap: 20px;

}

.address {
    padding-top: 7px;
    cursor: pointer;
}

.footer_address img {
    width: 130px;
    height: 70px;
    cursor: pointer;
}

.footer_contact {
    padding-left: 40px;
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.footer_contact h4 {
    margin-bottom: 0px;
    font-size: 18px;
    display: inline;
    ;
}

.footer_contact a {
    color: #A2A5E9;
    font-size: 16px;

}

.footer_contact img {
    margin-right: 10px;
    width: 20px;
}

.footer_contact p {
    margin-top: 5px;
}